<form method="POST" action="/berichten">
   <label>
     Nieuw bericht:
     <input type="text" name="message" required>
   </label>
   <button type="submit">Voeg toe!</button>
</form>

{% comment %} zonder text krijg je steeds object object terug ipv de daadwerkelijke text {% endcomment %}
{% for message in messages %}
    <p>{{ message.text }}</p>
{% endfor %}